MONGO_URI=complete_your_mongodb_connection_string_here
CLIENT_URL=http://localhost:5173
PORT=5000

JWT_ACCESS_SECRET=addyour_long_random_string_here
JWT_REFRESH_SECRET=addyour_long_random_string_here
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
INTERNAL_CHATBOT_SECRET=pick_a_long_random_string_here

ADMIN_EMAIL=adminmail@gmail.com
ADMIN_PASSWORD=*****
ADMIN_FIRST_NAME=firstname       
ADMIN_LAST_NAME=lastname         
